In [5]:
#importing libraries

import pandas as pd
import numpy as np

In [6]:
# Object Creation
s = pd.Series([1,3,np.nan,5,7,9])
s

0    1.0
1    3.0
2    NaN
3    5.0
4    7.0
5    9.0
dtype: float64

In [67]:
dates2 = pd.date_range("20220101", periods=6)
dates2

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

In [68]:
dates = pd.date_range("20220101", periods=20)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20'],
              dtype='datetime64[ns]', freq='D')

In [95]:
df = pd.DataFrame(np.random.randn(20,4), index=dates, columns=list("RNDM"))
df

                   R         N         D         M
2022-01-01 -0.398853  0.882952  1.519790 -0.051534
2022-01-02 -0.070978  0.091748  0.216236  0.032942
2022-01-03  0.304646  1.155465 -0.239556  0.414983
2022-01-04 -0.072238 -0.230188 -1.654286 -0.070306
2022-01-05  0.049985 -0.111792  0.208935 -1.171818
2022-01-06 -1.011962  0.708838  0.527975  0.307381
2022-01-07 -0.088388 -0.168245 -0.575845 -0.676928
2022-01-08 -1.382836 -0.262160  0.553244 -0.445820
2022-01-09 -1.269999  0.843010 -0.084215 -1.056357
2022-01-10  0.959261  0.358350  1.238837  0.527731
2022-01-11 -1.252516 -0.257305  0.098857 -1.688830
2022-01-12 -2.310025  1.838791  0.384802  1.602073
2022-01-13  0.236607  1.203533 -0.300316 -0.908346
2022-01-14 -0.855221 -1.563557 -1.092051 -2.109981
2022-01-15  0.705968  1.211087 -0.024538  0.068923
2022-01-16 -0.334696 -1.811295  2.802079  0.463880
2022-01-17 -0.350392 -0.963314  0.035420  1.689252
2022-01-18 -1.112752  0.122937 -0.026168 -0.626881
2022-01-19 -0.321055 -0.492929 -0.856755  0.312360
2022-01-20 -1.688586  0.626544  0.464087  1.342960

In [96]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20220111"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["girl", "woman", "girl", "woman"]),
        "F":  "females",
    }
)
df2

     A          B    C  D      E        F
0  1.0 2022-01-11  1.0  3   girl  females
1  1.0 2022-01-11  1.0  3  woman  females
2  1.0 2022-01-11  1.0  3   girl  females
3  1.0 2022-01-11  1.0  3  woman  females

In [97]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [98]:
df.head(2)

                   R         N         D         M
2022-01-01 -0.398853  0.882952  1.519790 -0.051534
2022-01-02 -0.070978  0.091748  0.216236  0.032942

In [99]:
df.tail(2)

                   R         N         D        M
2022-01-19 -0.321055 -0.492929 -0.856755  0.31236
2022-01-20 -1.688586  0.626544  0.464087  1.34296

In [100]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [101]:
df.to_numpy()

array([[-0.39885287,  0.88295158,  1.51978996, -0.05153389],
       [-0.0709778 ,  0.09174798,  0.2162364 ,  0.03294197],
       [ 0.30464578,  1.1554648 , -0.23955571,  0.41498325],
       [-0.0722377 , -0.2301876 , -1.65428566, -0.07030617],
       [ 0.04998481, -0.11179211,  0.20893467, -1.17181816],
       [-1.01196172,  0.70883826,  0.5279746 ,  0.30738071],
       [-0.08838817, -0.16824506, -0.57584488, -0.67692829],
       [-1.38283598, -0.26216014,  0.55324433, -0.44581968],
       [-1.26999901,  0.84301035, -0.0842153 , -1.05635739],
       [ 0.9592612 ,  0.35835008,  1.23883682,  0.52773076],
       [-1.25251619, -0.25730549,  0.0988566 , -1.68883021],
       [-2.3100246 ,  1.83879149,  0.38480176,  1.60207333],
       [ 0.23660742,  1.20353324, -0.30031599, -0.90834583],
       [-0.8552212 , -1.56355716, -1.09205098, -2.10998085],
       [ 0.70596799,  1.21108654, -0.02453781,  0.06892327],
       [-0.33469641, -1.81129503,  2.80207887,  0.46388021],
       [-0.35039178, -0.96331379,  0.03542001,  1.68925223],
       [-1.11275242,  0.12293705, -0.0261683 , -0.6268811 ],
       [-0.32105457, -0.49292868, -0.85675514,  0.31236026],
       [-1.68858605,  0.62654413,  0.46408671,  1.34295969]])

In [102]:
df2.to_numpy()

array([[1.0, Timestamp('2022-01-11 00:00:00'), 1.0, 3, 'girl', 'females'],
       [1.0, Timestamp('2022-01-11 00:00:00'), 1.0, 3, 'woman',
        'females'],
       [1.0, Timestamp('2022-01-11 00:00:00'), 1.0, 3, 'girl', 'females'],
       [1.0, Timestamp('2022-01-11 00:00:00'), 1.0, 3, 'woman',
        'females']], dtype=object)

In [103]:
df.describe()

               R          N          D          M
count  20.000000  20.000000  20.000000  20.000000
mean   -0.513201   0.159124   0.159827  -0.102216
std     0.830109   0.939974   0.956578   1.014486
min    -2.310025  -1.811295  -1.654286  -2.109981
25%    -1.147693  -0.258519  -0.254746  -0.734783
50%    -0.342544   0.107343   0.067138  -0.009296
75%    -0.040737   0.852996   0.480059   0.427207
max     0.959261   1.838791   2.802079   1.689252

In [104]:
df.T

,2022-01-01,2022-01-02,2022-01-03,2022-01-04,2022-01-05,2022-01-06,2022-01-07,2022-01-08,2022-01-09,2022-01-10,2022-01-11,2022-01-12,2022-01-13,2022-01-14,2022-01-15,2022-01-16,2022-01-17,2022-01-18,2022-01-19,2022-01-20
R,-0.398853,-0.070978,0.304646,-0.072238,0.049985,-1.011962,-0.088388,-1.382836,-1.269999,0.959261,-1.252516,-2.310025,0.236607,-0.855221,0.705968,-0.334696,-0.350392,-1.112752,-0.321055,-1.688586
N,0.882952,0.091748,1.155465,-0.230188,-0.111792,0.708838,-0.168245,-0.262160,0.843010,0.358350,-0.257305,1.838791,1.203533,-1.563557,1.211087,-1.811295,-0.963314,0.122937,-0.492929,0.626544
D,1.519790,0.216236,-0.239556,-1.654286,0.208935,0.527975,-0.575845,0.553244,-0.084215,1.238837,0.098857,0.384802,-0.300316,-1.092051,-0.024538,2.802079,0.035420,-0.026168,-0.856755,0.464087
M,-0.051534,0.032942,0.414983,-0.070306,-1.171818,0.307381,-0.676928,-0.445820,-1.056357,0.527731,-1.688830,1.602073,-0.908346,-2.109981,0.068923,0.463880,1.689252,-0.626881,0.312360,1.342960

In [105]:
df.sort_index()

                   R         N         D         M
2022-01-01 -0.398853  0.882952  1.519790 -0.051534
2022-01-02 -0.070978  0.091748  0.216236  0.032942
2022-01-03  0.304646  1.155465 -0.239556  0.414983
2022-01-04 -0.072238 -0.230188 -1.654286 -0.070306
2022-01-05  0.049985 -0.111792  0.208935 -1.171818
2022-01-06 -1.011962  0.708838  0.527975  0.307381
2022-01-07 -0.088388 -0.168245 -0.575845 -0.676928
2022-01-08 -1.382836 -0.262160  0.553244 -0.445820
2022-01-09 -1.269999  0.843010 -0.084215 -1.056357
2022-01-10  0.959261  0.358350  1.238837  0.527731
2022-01-11 -1.252516 -0.257305  0.098857 -1.688830
2022-01-12 -2.310025  1.838791  0.384802  1.602073
2022-01-13  0.236607  1.203533 -0.300316 -0.908346
2022-01-14 -0.855221 -1.563557 -1.092051 -2.109981
2022-01-15  0.705968  1.211087 -0.024538  0.068923
2022-01-16 -0.334696 -1.811295  2.802079  0.463880
2022-01-17 -0.350392 -0.963314  0.035420  1.689252
2022-01-18 -1.112752  0.122937 -0.026168 -0.626881
2022-01-19 -0.321055 -0.492929 -0.856755  0.312360
2022-01-20 -1.688586  0.626544  0.464087  1.342960

In [106]:
df.sort_index(axis=1)

                   D         M         N         R
2022-01-01  1.519790 -0.051534  0.882952 -0.398853
2022-01-02  0.216236  0.032942  0.091748 -0.070978
2022-01-03 -0.239556  0.414983  1.155465  0.304646
2022-01-04 -1.654286 -0.070306 -0.230188 -0.072238
2022-01-05  0.208935 -1.171818 -0.111792  0.049985
2022-01-06  0.527975  0.307381  0.708838 -1.011962
2022-01-07 -0.575845 -0.676928 -0.168245 -0.088388
2022-01-08  0.553244 -0.445820 -0.262160 -1.382836
2022-01-09 -0.084215 -1.056357  0.843010 -1.269999
2022-01-10  1.238837  0.527731  0.358350  0.959261
2022-01-11  0.098857 -1.688830 -0.257305 -1.252516
2022-01-12  0.384802  1.602073  1.838791 -2.310025
2022-01-13 -0.300316 -0.908346  1.203533  0.236607
2022-01-14 -1.092051 -2.109981 -1.563557 -0.855221
2022-01-15 -0.024538  0.068923  1.211087  0.705968
2022-01-16  2.802079  0.463880 -1.811295 -0.334696
2022-01-17  0.035420  1.689252 -0.963314 -0.350392
2022-01-18 -0.026168 -0.626881  0.122937 -1.112752
2022-01-19 -0.856755  0.312360 -0.492929 -0.321055
2022-01-20  0.464087  1.342960  0.626544 -1.688586

In [107]:
df.sort_index(axis=1,ascending= False)

                   R         N         M         D
2022-01-01 -0.398853  0.882952 -0.051534  1.519790
2022-01-02 -0.070978  0.091748  0.032942  0.216236
2022-01-03  0.304646  1.155465  0.414983 -0.239556
2022-01-04 -0.072238 -0.230188 -0.070306 -1.654286
2022-01-05  0.049985 -0.111792 -1.171818  0.208935
2022-01-06 -1.011962  0.708838  0.307381  0.527975
2022-01-07 -0.088388 -0.168245 -0.676928 -0.575845
2022-01-08 -1.382836 -0.262160 -0.445820  0.553244
2022-01-09 -1.269999  0.843010 -1.056357 -0.084215
2022-01-10  0.959261  0.358350  0.527731  1.238837
2022-01-11 -1.252516 -0.257305 -1.688830  0.098857
2022-01-12 -2.310025  1.838791  1.602073  0.384802
2022-01-13  0.236607  1.203533 -0.908346 -0.300316
2022-01-14 -0.855221 -1.563557 -2.109981 -1.092051
2022-01-15  0.705968  1.211087  0.068923 -0.024538
2022-01-16 -0.334696 -1.811295  0.463880  2.802079
2022-01-17 -0.350392 -0.963314  1.689252  0.035420
2022-01-18 -1.112752  0.122937 -0.626881 -0.026168
2022-01-19 -0.321055 -0.492929  0.312360 -0.856755
2022-01-20 -1.688586  0.626544  1.342960  0.464087

In [108]:
df.sort_index(axis=1,ascending= True)

                   D         M         N         R
2022-01-01  1.519790 -0.051534  0.882952 -0.398853
2022-01-02  0.216236  0.032942  0.091748 -0.070978
2022-01-03 -0.239556  0.414983  1.155465  0.304646
2022-01-04 -1.654286 -0.070306 -0.230188 -0.072238
2022-01-05  0.208935 -1.171818 -0.111792  0.049985
2022-01-06  0.527975  0.307381  0.708838 -1.011962
2022-01-07 -0.575845 -0.676928 -0.168245 -0.088388
2022-01-08  0.553244 -0.445820 -0.262160 -1.382836
2022-01-09 -0.084215 -1.056357  0.843010 -1.269999
2022-01-10  1.238837  0.527731  0.358350  0.959261
2022-01-11  0.098857 -1.688830 -0.257305 -1.252516
2022-01-12  0.384802  1.602073  1.838791 -2.310025
2022-01-13 -0.300316 -0.908346  1.203533  0.236607
2022-01-14 -1.092051 -2.109981 -1.563557 -0.855221
2022-01-15 -0.024538  0.068923  1.211087  0.705968
2022-01-16  2.802079  0.463880 -1.811295 -0.334696
2022-01-17  0.035420  1.689252 -0.963314 -0.350392
2022-01-18 -0.026168 -0.626881  0.122937 -1.112752
2022-01-19 -0.856755  0.312360 -0.492929 -0.321055
2022-01-20  0.464087  1.342960  0.626544 -1.688586

In [109]:
df.sort_values("D",ascending= True)

                   R         N         D         M
2022-01-04 -0.072238 -0.230188 -1.654286 -0.070306
2022-01-14 -0.855221 -1.563557 -1.092051 -2.109981
2022-01-19 -0.321055 -0.492929 -0.856755  0.312360
2022-01-07 -0.088388 -0.168245 -0.575845 -0.676928
2022-01-13  0.236607  1.203533 -0.300316 -0.908346
2022-01-03  0.304646  1.155465 -0.239556  0.414983
2022-01-09 -1.269999  0.843010 -0.084215 -1.056357
2022-01-18 -1.112752  0.122937 -0.026168 -0.626881
2022-01-15  0.705968  1.211087 -0.024538  0.068923
2022-01-17 -0.350392 -0.963314  0.035420  1.689252
2022-01-11 -1.252516 -0.257305  0.098857 -1.688830
2022-01-05  0.049985 -0.111792  0.208935 -1.171818
2022-01-02 -0.070978  0.091748  0.216236  0.032942
2022-01-12 -2.310025  1.838791  0.384802  1.602073
2022-01-20 -1.688586  0.626544  0.464087  1.342960
2022-01-06 -1.011962  0.708838  0.527975  0.307381
2022-01-08 -1.382836 -0.262160  0.553244 -0.445820
2022-01-10  0.959261  0.358350  1.238837  0.527731
2022-01-01 -0.398853  0.882952  1.519790 -0.051534
2022-01-16 -0.334696 -1.811295  2.802079  0.463880

In [110]:
df.sort_values("D",ascending= False)

                   R         N         D         M
2022-01-16 -0.334696 -1.811295  2.802079  0.463880
2022-01-01 -0.398853  0.882952  1.519790 -0.051534
2022-01-10  0.959261  0.358350  1.238837  0.527731
2022-01-08 -1.382836 -0.262160  0.553244 -0.445820
2022-01-06 -1.011962  0.708838  0.527975  0.307381
2022-01-20 -1.688586  0.626544  0.464087  1.342960
2022-01-12 -2.310025  1.838791  0.384802  1.602073
2022-01-02 -0.070978  0.091748  0.216236  0.032942
2022-01-05  0.049985 -0.111792  0.208935 -1.171818
2022-01-11 -1.252516 -0.257305  0.098857 -1.688830
2022-01-17 -0.350392 -0.963314  0.035420  1.689252
2022-01-15  0.705968  1.211087 -0.024538  0.068923
2022-01-18 -1.112752  0.122937 -0.026168 -0.626881
2022-01-09 -1.269999  0.843010 -0.084215 -1.056357
2022-01-03  0.304646  1.155465 -0.239556  0.414983
2022-01-13  0.236607  1.203533 -0.300316 -0.908346
2022-01-07 -0.088388 -0.168245 -0.575845 -0.676928
2022-01-19 -0.321055 -0.492929 -0.856755  0.312360
2022-01-14 -0.855221 -1.563557 -1.092051 -2.109981
2022-01-04 -0.072238 -0.230188 -1.654286 -0.070306

In [111]:
df["N"]

2022-01-01    0.882952
2022-01-02    0.091748
2022-01-03    1.155465
2022-01-04   -0.230188
2022-01-05   -0.111792
2022-01-06    0.708838
2022-01-07   -0.168245
2022-01-08   -0.262160
2022-01-09    0.843010
2022-01-10    0.358350
2022-01-11   -0.257305
2022-01-12    1.838791
2022-01-13    1.203533
2022-01-14   -1.563557
2022-01-15    1.211087
2022-01-16   -1.811295
2022-01-17   -0.963314
2022-01-18    0.122937
2022-01-19   -0.492929
2022-01-20    0.626544
Freq: D, Name: N, dtype: float64

In [112]:
#row wise selection
df[0:2]

                   R         N         D         M
2022-01-01 -0.398853  0.882952  1.519790 -0.051534
2022-01-02 -0.070978  0.091748  0.216236  0.032942

In [113]:
#lable wise selection

df.loc[dates[2]]

R    0.304646
N    1.155465
D   -0.239556
M    0.414983
Name: 2022-01-03 00:00:00, dtype: float64

In [114]:
df.loc[:,["R","D"]]

                   R         D
2022-01-01 -0.398853  1.519790
2022-01-02 -0.070978  0.216236
2022-01-03  0.304646 -0.239556
2022-01-04 -0.072238 -1.654286
2022-01-05  0.049985  0.208935
2022-01-06 -1.011962  0.527975
2022-01-07 -0.088388 -0.575845
2022-01-08 -1.382836  0.553244
2022-01-09 -1.269999 -0.084215
2022-01-10  0.959261  1.238837
2022-01-11 -1.252516  0.098857
2022-01-12 -2.310025  0.384802
2022-01-13  0.236607 -0.300316
2022-01-14 -0.855221 -1.092051
2022-01-15  0.705968 -0.024538
2022-01-16 -0.334696  2.802079
2022-01-17 -0.350392  0.035420
2022-01-18 -1.112752 -0.026168
2022-01-19 -0.321055 -0.856755
2022-01-20 -1.688586  0.464087

In [115]:
df.loc["2022-01-02":"2022-01-05",["R","D"]]

                   R         D
2022-01-02 -0.070978  0.216236
2022-01-03  0.304646 -0.239556
2022-01-04 -0.072238 -1.654286
2022-01-05  0.049985  0.208935

In [116]:
df.at[dates[0],"R"]

-0.3988528744252423

In [117]:
df.at[dates[12],"R"]

0.23660742022222536

In [120]:
df.iloc[2:9,1:3]

                   N         D
2022-01-03  1.155465 -0.239556
2022-01-04 -0.230188 -1.654286
2022-01-05 -0.111792  0.208935
2022-01-06  0.708838  0.527975
2022-01-07 -0.168245 -0.575845
2022-01-08 -0.262160  0.553244
2022-01-09  0.843010 -0.084215

In [121]:
df[df["N"] > 0]

                   R         N         D         M
2022-01-01 -0.398853  0.882952  1.519790 -0.051534
2022-01-02 -0.070978  0.091748  0.216236  0.032942
2022-01-03  0.304646  1.155465 -0.239556  0.414983
2022-01-06 -1.011962  0.708838  0.527975  0.307381
2022-01-09 -1.269999  0.843010 -0.084215 -1.056357
2022-01-10  0.959261  0.358350  1.238837  0.527731
2022-01-12 -2.310025  1.838791  0.384802  1.602073
2022-01-13  0.236607  1.203533 -0.300316 -0.908346
2022-01-15  0.705968  1.211087 -0.024538  0.068923
2022-01-18 -1.112752  0.122937 -0.026168 -0.626881
2022-01-20 -1.688586  0.626544  0.464087  1.342960

In [122]:
df[df["D"] > 1]

                   R         N         D         M
2022-01-01 -0.398853  0.882952  1.519790 -0.051534
2022-01-10  0.959261  0.358350  1.238837  0.527731
2022-01-16 -0.334696 -1.811295  2.802079  0.463880

# This is the assignment ask in the video

In [125]:

df[df[["D","R"]] < 1]

                   R   N         D   M
2022-01-01 -0.398853 NaN       NaN NaN
2022-01-02 -0.070978 NaN  0.216236 NaN
2022-01-03  0.304646 NaN -0.239556 NaN
2022-01-04 -0.072238 NaN -1.654286 NaN
2022-01-05  0.049985 NaN  0.208935 NaN
2022-01-06 -1.011962 NaN  0.527975 NaN
2022-01-07 -0.088388 NaN -0.575845 NaN
2022-01-08 -1.382836 NaN  0.553244 NaN
2022-01-09 -1.269999 NaN -0.084215 NaN
2022-01-10  0.959261 NaN       NaN NaN
2022-01-11 -1.252516 NaN  0.098857 NaN
2022-01-12 -2.310025 NaN  0.384802 NaN
2022-01-13  0.236607 NaN -0.300316 NaN
2022-01-14 -0.855221 NaN -1.092051 NaN
2022-01-15  0.705968 NaN -0.024538 NaN
2022-01-16 -0.334696 NaN       NaN NaN
2022-01-17 -0.350392 NaN  0.035420 NaN
2022-01-18 -1.112752 NaN -0.026168 NaN
2022-01-19 -0.321055 NaN -0.856755 NaN
2022-01-20 -1.688586 NaN  0.464087 NaN

In [126]:
df2 = df.copy()
df2

                   R         N         D         M
2022-01-01 -0.398853  0.882952  1.519790 -0.051534
2022-01-02 -0.070978  0.091748  0.216236  0.032942
2022-01-03  0.304646  1.155465 -0.239556  0.414983
2022-01-04 -0.072238 -0.230188 -1.654286 -0.070306
2022-01-05  0.049985 -0.111792  0.208935 -1.171818
2022-01-06 -1.011962  0.708838  0.527975  0.307381
2022-01-07 -0.088388 -0.168245 -0.575845 -0.676928
2022-01-08 -1.382836 -0.262160  0.553244 -0.445820
2022-01-09 -1.269999  0.843010 -0.084215 -1.056357
2022-01-10  0.959261  0.358350  1.238837  0.527731
2022-01-11 -1.252516 -0.257305  0.098857 -1.688830
2022-01-12 -2.310025  1.838791  0.384802  1.602073
2022-01-13  0.236607  1.203533 -0.300316 -0.908346
2022-01-14 -0.855221 -1.563557 -1.092051 -2.109981
2022-01-15  0.705968  1.211087 -0.024538  0.068923
2022-01-16 -0.334696 -1.811295  2.802079  0.463880
2022-01-17 -0.350392 -0.963314  0.035420  1.689252
2022-01-18 -1.112752  0.122937 -0.026168 -0.626881
2022-01-19 -0.321055 -0.492929 -0.856755  0.312360
2022-01-20 -1.688586  0.626544  0.464087  1.342960

In [128]:
df2["New_Coulmn"] = ["one","two","three","four","one","two","three","four","one","two","three","four","one","two","three","four","one","two","three","four"]
df2

                   R         N         D         M New_Coulmn
2022-01-01 -0.398853  0.882952  1.519790 -0.051534        one
2022-01-02 -0.070978  0.091748  0.216236  0.032942        two
2022-01-03  0.304646  1.155465 -0.239556  0.414983      three
2022-01-04 -0.072238 -0.230188 -1.654286 -0.070306       four
2022-01-05  0.049985 -0.111792  0.208935 -1.171818        one
2022-01-06 -1.011962  0.708838  0.527975  0.307381        two
2022-01-07 -0.088388 -0.168245 -0.575845 -0.676928      three
2022-01-08 -1.382836 -0.262160  0.553244 -0.445820       four
2022-01-09 -1.269999  0.843010 -0.084215 -1.056357        one
2022-01-10  0.959261  0.358350  1.238837  0.527731        two
2022-01-11 -1.252516 -0.257305  0.098857 -1.688830      three
2022-01-12 -2.310025  1.838791  0.384802  1.602073       four
2022-01-13  0.236607  1.203533 -0.300316 -0.908346        one
2022-01-14 -0.855221 -1.563557 -1.092051 -2.109981        two
2022-01-15  0.705968  1.211087 -0.024538  0.068923      three
2022-01-16 -0.334696 -1.811295  2.802079  0.463880       four
2022-01-17 -0.350392 -0.963314  0.035420  1.689252        one
2022-01-18 -1.112752  0.122937 -0.026168 -0.626881        two
2022-01-19 -0.321055 -0.492929 -0.856755  0.312360      three
2022-01-20 -1.688586  0.626544  0.464087  1.342960       four

In [129]:
df2[df2["D"] > 1.2]

                   R         N         D         M New_Coulmn
2022-01-01 -0.398853  0.882952  1.519790 -0.051534        one
2022-01-10  0.959261  0.358350  1.238837  0.527731        two
2022-01-16 -0.334696 -1.811295  2.802079  0.463880       four

In [132]:
df2["new"] = df2["R"]+1

In [133]:
df2

,R,N,D,M,New_Coulmn,mean,new
2022-01-01,-0.398853,0.882952,1.519790,-0.051534,one,0.601147,0.601147
2022-01-02,-0.070978,0.091748,0.216236,0.032942,two,0.929022,0.929022
2022-01-03,0.304646,1.155465,-0.239556,0.414983,three,1.304646,1.304646
2022-01-04,-0.072238,-0.230188,-1.654286,-0.070306,four,0.927762,0.927762
2022-01-05,0.049985,-0.111792,0.208935,-1.171818,one,1.049985,1.049985
2022-01-06,-1.011962,0.708838,0.527975,0.307381,two,-0.011962,-0.011962
2022-01-07,-0.088388,-0.168245,-0.575845,-0.676928,three,0.911612,0.911612
2022-01-08,-1.382836,-0.262160,0.553244,-0.445820,four,-0.382836,-0.382836
2022-01-09,-1.269999,0.843010,-0.084215,-1.056357,one,-0.269999,-0.269999
2022-01-10,0.959261,0.358350,1.238837,0.527731,two,1.959261,1.959261
2022-01-11,-1.252516,-0.257305,0.098857,-1.688830,three,-0.252516,-0.252516
2022-01-12,-2.310025,1.838791,0.384802,1.602073,four,-1.310025,-1.310025
2022-01-13,0.236607,1.203533,-0.300316,-0.908346,one,1.236607,1.236607
2022-01-14,-0.855221,-1.563557,-1.092051,-2.109981,two,0.144779,0.144779
2022-01-15,0.705968,1.211087,-0.024538,0.068923,three,1.705968,1.705968
2022-01-16,-0.334696,-1.811295,2.802079,0.463880,four,0.665304,0.665304
2022-01-17,-0.350392,-0.963314,0.035420,1.689252,one,0.649608,0.649608
2022-01-18,-1.112752,0.122937,-0.026168,-0.626881,two,-0.112752,-0.112752
2022-01-19,-0.321055,-0.492929,-0.856755,0.312360,three,0.678945,0.678945
2022-01-20,-1.688586,0.626544,0.464087,1.342960,four,-0.688586,-0.688586

# Assignmnet given in video all integer column ko add kr ka ak new column banana

In [142]:
#by column wise
df2["Add all columns in to one"] = df2[["R","N","D","M"]].sum(axis=1)

In [143]:
df2

,R,N,D,M,New_Coulmn,mean,new,Add all columns in to one
2022-01-01,-0.398853,0.882952,1.519790,-0.051534,one,0.601147,0.601147,1.952355
2022-01-02,-0.070978,0.091748,0.216236,0.032942,two,0.929022,0.929022,0.269949
2022-01-03,0.304646,1.155465,-0.239556,0.414983,three,1.304646,1.304646,1.635538
2022-01-04,-0.072238,-0.230188,-1.654286,-0.070306,four,0.927762,0.927762,-2.027017
2022-01-05,0.049985,-0.111792,0.208935,-1.171818,one,1.049985,1.049985,-1.024691
2022-01-06,-1.011962,0.708838,0.527975,0.307381,two,-0.011962,-0.011962,0.532232
2022-01-07,-0.088388,-0.168245,-0.575845,-0.676928,three,0.911612,0.911612,-1.509406
2022-01-08,-1.382836,-0.262160,0.553244,-0.445820,four,-0.382836,-0.382836,-1.537571
2022-01-09,-1.269999,0.843010,-0.084215,-1.056357,one,-0.269999,-0.269999,-1.567561
2022-01-10,0.959261,0.358350,1.238837,0.527731,two,1.959261,1.959261,3.084179
2022-01-11,-1.252516,-0.257305,0.098857,-1.688830,three,-0.252516,-0.252516,-3.099795
2022-01-12,-2.310025,1.838791,0.384802,1.602073,four,-1.310025,-1.310025,1.515642
2022-01-13,0.236607,1.203533,-0.300316,-0.908346,one,1.236607,1.236607,0.231479
2022-01-14,-0.855221,-1.563557,-1.092051,-2.109981,two,0.144779,0.144779,-5.620810
2022-01-15,0.705968,1.211087,-0.024538,0.068923,three,1.705968,1.705968,1.961440
2022-01-16,-0.334696,-1.811295,2.802079,0.463880,four,0.665304,0.665304,1.119968
2022-01-17,-0.350392,-0.963314,0.035420,1.689252,one,0.649608,0.649608,0.410967
2022-01-18,-1.112752,0.122937,-0.026168,-0.626881,two,-0.112752,-0.112752,-1.642865
2022-01-19,-0.321055,-0.492929,-0.856755,0.312360,three,0.678945,0.678945,-1.358378
2022-01-20,-1.688586,0.626544,0.464087,1.342960,four,-0.688586,-0.688586,0.745004